{% extends "../base/base.html" %}
{% block title %}Profile{% endblock %}
{% block content %}
{% include "../base/nav-main.html" %}
<div class="container">
    <section class="jumbotron text-center bg-white">
        <div class="container">
            <h1> لوحة تحكم المستخدم </ h1>
                <p class = "lead text-muted"> شيء قصير ورائد حول المجموعة أدناه - محتوياتها ، ملف
                    المنشئ،
                    إلخ. اجعله قصيرًا ولطيفًا ، لكن ليس قصيرًا جدًا بحيث لا يتخطاه الأشخاص ببساطة. </p>
            </div>
    </section>
</div>
{% include "base/footer.html" %}
{% endblock %}