 
    {% extends "../base/base.html" %}
    {% block title %}
    all post {{ user.username }}
    {% endblock %}
    {% block metaHead %}
    {{form.media}}
      
    {% endblock metaHead %}
    {% block content %}
    {% include "base/nav-main.html" %}
{% load static %}

    <div class="row">
      
<div class="col-md-2">
  
    <div class="card card-personal shadow-lg">
  
        <img class="read-more rounded-circle card-img-top" src="{% for data in avatar %}{{ data.avatar.url }} {% endfor %}" /> 
    
        <div class="card-body">
          <a>
            <h4 class="card-title title-one">{{ user.first_name }} </h4>
          </a> 
          <a href="/crud/all" class="btn btn-outline-primary mb-2 shadow"> <i class="fas fa-tachometer-alt"></i> جمع المقلات</a> 
          <a href="/crud/new" class="btn btn-outline-primary mb-2 shadow"> <i class="fas fa-plus-square"></i>   post/video</a><br>
          <a href="/crud/cat/all" class="btn btn-outline-danger mb-2 shadow"> <i class="fas fa-hotel"></i> جمع الاقسام</a><br>
          <a href="/crud/cat/new" class="btn btn-outline-danger mb-2 shadow"> <i class="fas fa-plus-square"></i> اضاف قسم</a>
        </div>


      </div>
</div>  

{% load bootstrap4 %}
<div class="form-container col-md-9">
<div class="row">
    <div class="col-md-12">
        <h1 class="form__section-title">{{ title }}</h1>
    </div>
    <div class="col-md-12">
        {% bootstrap_messages %}
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}  


    
  {{ form.non_field_errors }}

  {{ form.source.errors }}
  {{ form.source }}
<div class="row">
  <div class="col-md-8">
    
      {{ form.title.label_tag }} 
        {{ form.title.errors }}
        {{ form.title }}
        <br>
      {{ form.content.label_tag }} 
        {{ form.content.errors }}
        {{ form.media }}
        <div style="position: relative;" class="read-more">
        
          {{ form.content }}
        </div>
      
 
<script>
  

  function myFunV() {
  if (document.getElementById("id_video_or_article").value == 'video') {
    document.getElementById("demo").innerHTML  =  '{{ form.video_url.label_tag }}  {{ form.video_url.errors }} {{ form.video_url }} ';
    document.getElementById("imgdownload").style.display = "block"; 
    
  }else{
    document.getElementById("demo").innerHTML  =  '<input type="text" name="video_url" >';

    document.getElementById("imgdownload").style.display = "none"; 
    
  } 
  }; 
   
  </script> 
<div id="imgdownload">
  <br>
  <div id="demo"> </div><br>
<div id="getVideo">  <input type="text"   class="shadowX" id="getid" onclick="getUrlId(this.value)" placeholder="get Video youtube by id">   </div>
<a href="#" data-href='' download="Image.jpg" ><img src="" id="im"  width="211px"></a>

 <style>
   #imgdownload{
     display: none;
   }
 </style>

{% load static %}

<script> 
 
function getUrlId(params) {
  
const doAjax = async () => {
  
    const response = await fetch(`https://www.googleapis.com/youtube/v3/videos?part=id%2C+snippet&id=${params}&key=AIzaSyBPUEjq5PwEkuSn5Lxf5jXwJxP2wGDoVvM&part=contentDetails`); // Generate the Response object
    if (response.ok) {
        const jVal = await response.json(); // Get JSON value from the response body
        console.log(jVal);
        // document.getElementById('getid').value = await jVal.items[0].id; // Promise.resolve(await jVal);

        document.getElementById('id_title').value = await jVal.items[0].snippet.title; // Promise.resolve(jVal);
        document.getElementById('id_tags').value = await jVal.items[0].snippet.tags.toString();  
        document.getElementsByClassName('note-editable')[0].innerText = await jVal.items[0].snippet.description;
        document.querySelector("#id_excerpt").innerText = await jVal.items[0].snippet.description.toString().slice(0, 45);  
        document.querySelector("#id_video_duration").value = await jVal.items[0].contentDetails.duration.toString().slice(0, 45);  
        document.getElementById('id_slug').value = await jVal.items[0].id; // Promise.resolve(await jVal);
        document.getElementById('id_video_url').value = await ',https://www.youtube.com/embed/'+ jVal.items[0].id; // Promise.resolve(await jVal);

        document.getElementById('im').src = await jVal.items[0].snippet.thumbnails.maxres.url; // Promise.resolve(await jVal);
        document.getElementById('imageUrl').value = await jVal.items[0].snippet.thumbnails.maxres.url; // Promise.resolve(await jVal);
        document.getElementById('img_id').src = await jVal.items[0].snippet.thumbnails.maxres.url; // Promise.resolve(await jVal);

        document.getElementById('img').setAttribute('data-href', await jVal.items[0].snippet.thumbnails.maxres.url ) ; // Promise.resolve(await jVal);
          
        
        }
    else
        return Promise.reject('*** PHP file not found');
    } // doAjax function

// Call the function and output value or error message to console
doAjax().then(document.querySelector(".fr-basic.fr-top > div.fr-wrapper > div").click() );
 
}

</script>
</div> 
  </div>
  <div class="col-md-4">

<script>
  

function getpost(params) {
var cont = document.getElementById('getpostt').value;
  cont--;
  document.getElementById('getpostt').value = cont;

  const doAjax = async () => {
      const response = await fetch(`{% static 'csvjson.json' %}`); // Generate the Response object
      if (response.ok) {
          const jVal = await response.json(); // Get JSON value from the response body
          console.log(jVal[cont].Image);
          document.getElementById('id_title').value = await jVal[cont].Title; // Promise.resolve(jVal);
          document.getElementById('id_tags').value = await jVal[cont].Hashtags.toString();  
          
          document.getElementsByClassName('note-editable')[0].innerText = await jVal[cont].Content;
          document.querySelector("#id_excerpt").innerText = await jVal[cont].Content.toString().slice(0, 150);  
          document.getElementById('im').src = await jVal[cont].Image; // Promise.resolve(await jVal);
          document.getElementById('imageUrl').value = await jVal[cont].Image; // Promise.resolve(await jVal);
          document.getElementById('img_id').src = await jVal[cont].Image; // Promise.resolve(await jVal);
  
          }
      else
          return Promise.reject('*** PHP file not found');
      } // doAjax function
  
  // Call the function and output value or error message to console
  doAjax().then(document.querySelector(".fr-basic.fr-top > div.fr-wrapper > div").click() );
   
  }
  

  
// form upload
$('form').submit(function(e){
    e.preventDefault();
    $form = $(this)
    var formData = new FormData(this);
    $.ajax({
        url: '{% url "crud:new_post" %}',
        type: 'POST',
        data: formData,
        success: function (response) {
            $('.error').remove();
            console.log(response)
            if(response.error){
                $.each(response.errors, function(name, error){
                    error = '<small class="text-muted error">' + error + '</small>'
                    $form.find('[name=' + name + ']').after(error);
                })
            } 
        },
        cache: false,
        contentType: false,
        processData: false
    });
});
// end
</script>
<input type="text"   class="shadowX" id="getpostt" onclick="getpost(this.value)" placeholder="get post">


    <button type="submit" class="read-more">Submit</button>
  <table border="0">
 
    <tr>
      <th>{{ form.category.label_tag }}</th>
      <td>
        {{ form.category.errors }}
        {{ form.category }}
      </td>
    </tr>
    <tr id="cv">
      <th>{{ form.video_or_article.label_tag }}</th>
      <td>
        {{ form.video_or_article.errors }}
        {{ form.video_or_article }}
      </td>
    </tr>
    <tr>
      <th>{{ form.status.label_tag }}</th>
      <td>
        {{ form.status.errors }}
        {{ form.status }}
      </td>
    </tr>

    <tr>
      <th>{{ form.excerpt.label_tag }}</th>
      <td>
        {{ form.excerpt.errors }}
        {{ form.excerpt }}
      </td>
    </tr>
    <tr>
      <th>{{ form.slug.label_tag }}</th>
      <td>
        {{ form.slug.errors }}
        {{ form.slug }}
  <script type="text/javascript" src="{% static 'admin/js/urlify.js' %}"></script>
<script type="text/javascript">
document.getElementById("id_title").onclick = function() {
    var e = document.getElementById("id_slug");
    if (!e._changed) { e.value = URLify(document.getElementById("id_title").value, 50); }
}
</script>
      </td>
    </tr>
    <tr>
      <th>{{ form.tags.label_tag }}</th>
      <td>
        {{ form.tags.errors }}
        {{ form.tags }}
      </td>
    </tr>
    <tr class="d-none">
      <th>{{ form.video_duration.label_tag }}</th>
      <td>
        {{ form.video_duration.errors }}
        {{ form.video_duration }}
      </td>
    </tr>
    <tr>
      <th>{{ form.image.label_tag }}</th>
      <td>
        {{ form.image.errors }}
        {{ form.image }}
        <input type="url" name="imageUrl" class="shadow-lg" id="imageUrl" placeholder="or image user">
        <img id="img_id" src="#" width="222px" class="read-more" />
        
        <script type="text/javascript">
    let imgU= document.getElementById('imageUrl');    
    imgU.onkeyup = () => { document.getElementById('img_id').src = imgU.value;  }
    
          function upload_img(input) {
              if (input.files && input.files[0]) {
                  var reader = new FileReader();
    
                  reader.onload = function (e) {
                      $('#img_id').attr('src', e.target.result);
                  }
    
                  reader.readAsDataURL(input.files[0]);
              }
          }
    
      </script>
      
      </td>
    </tr>

    <tr>
      <th>{{ form.message.label_tag }}</th>
      <td>
        {{ form.message.errors }}
        {{ form.message }}
        <br />
        {{ form.message.help_text }}
      </td>
    </tr>

</table>
  </div>
</div>
 
        </form>
    </div>
</div>
</div>

<!-- tags -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.min.js" integrity="sha512-9UR1ynHntZdqHnwXKTaOm1s6V9fExqejKvg5XMawEMToW4sSw+3jtLrYfZPijvnwnnE8Uol1O9BcAskoxgec+g==" crossorigin="anonymous"></script>
</div><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.css" integrity="sha512-xmGTNt20S0t62wHLmQec2DauG9T+owP9e6VU8GigI0anN7OXLip9i7IwEhelasml2osdxX71XcYm6BQunTQeQg==" crossorigin="anonymous" />
<style>
  span.tag.label.label-info {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: rgb(235 255 245);
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    background: indianred;
    box-shadow: 1px 1px 7px 1px;
}
</style>
<!-- tags -->

<script> libs
  var changeDirection = function (dir, align) {
    // Wrap block tags.
    this.selection.save();
    this.html.wrap(true, true, true, true);
    this.selection.restore();

    // Get blocks.
    var elements = this.selection.blocks();

    // Save selection to restore it later.
    this.selection.save();

    for (var i = 0; i < elements.length; i++) {
      var element = elements[i];
      if (element != this.el) {
        this.$(element)
          .css('direction', dir)
          .css('text-align', align)
          .removeClass('fr-temp-div');
      }
    }

    // Unwrap temp divs.
    this.html.unwrap();

    // Restore selection.
    this.selection.restore();
  }

  FroalaEditor.DefineIcon('rightToLeft', {NAME: 'long-arrow-left'});
  FroalaEditor.RegisterCommand('rightToLeft', {
    title: 'RTL',
    focus: true,
    undo: true,
    refreshAfterCallback: true,
    callback: function () {
      changeDirection.apply(this, ['rtl', 'right']);
    }
  })

  FroalaEditor.DefineIcon('leftToRight', {NAME: 'long-arrow-right'});
  FroalaEditor.RegisterCommand('leftToRight', {
    title: 'LTR',
    focus: true,
    undo: true,
    refreshAfterCallback: true,
    callback: function () {
      changeDirection.apply(this, ['ltr', 'left']);
    }
  })

  new FroalaEditor('dtd#froala-editor', {
    // Set custom buttons with separator between them. Also include the name
    // of the buttons  defined in customButtons.
    toolbarButtons: ['undo', 'redo' , 'bold', 'formatOL', 'formatUL', '|', 'rightToLeft', 'leftToRight'],
  })
</script>


</div>
<script>
    document.querySelector("#id_category").required = true 
    document.querySelector("#id_category").classList.remove("is-valid") ;

</script>
<style>
    .note-editing-area {
    text-align: right;
}
  .read-more{
      padding: 7px 20px;
      float: right;
      font-size: 12px;
      background: #ffffff;
      color: #000000;
      box-shadow: 0px 10px 20px -10px #1376c5;
      border-radius: 25px;
      text-transform: uppercase;
  }
  .post-slide .read-more:hover{
      background: #3498db;
      text-decoration:none;
      color:#fff;
  }
</style>
<hr class="mb-14"> 
{% include "base/footer.html" %}
{% endblock content %}