
    <ul class="nav nav-tabs shadow-lg mt-5 " >
    {% for post in l_posts %}  
    <li class="nav-item d-none" style="width: 34px;"><a class="nav-link " href="{{post.get_url_categories}}"><img class="shadow-lg rounded-circle p-1 " src="{{post.image.url}}" style="width: 34px;box-shadow: 0px 0px 17px rgb(33,70,111);height: 34px;" /></a></li>
    {% endfor %}

  
</ul>

 

 
    <div class="stories "> 
       <ul class="story owl-carousel owl-theme">
        {% for post in l_posts %}  
          <li   class=" item read-more p-0">
             <a href="{{ post.get_url_categories }}">
                <div class="stories-card">
                   <div style="background-image:url({{post.image.url}})" class="stories-img"></div>
                   <div class="add-storie">
                      +
                   </div>
                   <div class="stories-by">
                      <h5>{{post.name}}  </h5>
  
                   </div>
                </div>
             </a>
          </li> 
          {% endfor %}
       </ul>
    </div> 
