{% extends "../base/base.html" %}

{% load post_tag %}

{% block title %}
{{post.title}}
{% endblock %}

{% block metaHead %}
  
<script type="application/ld+json">
  { "@context": "https://schema.org", 
   "@type": "Article",
   "headline": "{{post.title}}", 
   "image": "{{ request.get_host}}{{post.image.url}}",
   "author": "{{ post.author.profile.fullName }}", 
   "editor": "Ahmed Azzam", 
   "keywords": "  {% for tag in post.tags.all %} {{ tag.name }}, {% endfor %}", 
  "publisher": {
      "@type": "Organization",
      "name": "{{ post.author.profile.fullName }}",
      "logo": {
        "@type": "ImageObject",
        "url": "{{ request.get_host}}{{ post.author.profile.avatar.url }}"
      }
    },
   "url": "{{ request.get_host}}",
     "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "{{ request.get_host}}{{post.category.get_url_categories}}"
    },
   "datePublished": "{{post.publish|date:"c"}}",
   "dateModified": "{{post.updated_at|date:"c"}}",
   "dateCreated": "{{post.created_at|date:"c"}}",
   "description": "{{post.excerpt}}",
   "articleBody": `{{post.content|safe}}'
   }
  </script>

<meta property="og:url" content="{{request.build_absolute_uri}}">
<meta property="og:image" content="{{post.image.url}}" id="im">
<meta property="og:title" content="{{post.title}}">
<meta property="og:description" content="{{post.excerpt}}">
<script>
document.getElementById('im').setAttribute("content", window.location.origin +'{{post.image.url}}'); 
</script>

{% endblock metaHead %}
  
{% block content %}
{% include "base/nav-main.html" %} 

<div> 
<!-- start body -->
<style>
@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa&display=swap');
  .h1 {
    font-family: 'Aref Ruqaa', serif;
        font-size: 2.55rem;
    line-height: 2.6rem;
    letter-spacing: -0.063px;
  }

  h2 {
    font-family: 'Lalezar', cursive;
    font-size: 1.9rem;
    line-height: 2.6rem;
    letter-spacing: -0.063px;
    font-weight: 700;
    padding-top: 48px;
  }

  p {
    font-family: 'Lalezar', cursive;
    line-height: 2rem;
    font-size: 1.3rem
  }

  @media screen and (min-width: 600px) {
    .children form {
      margin-left: -48px;
      /* will touch very left side */
    }

    .children .children form {
      margin-left: -96px;
      /* will touch very left side */
    }
  }

  .avatar_single {
    height: 48px;
    width: 48px;
    background-color: #000;
    border-radius: 50%;
    display: inline-block;

  }

  .smaller {
    font-size: 0.8rem;
  }

  .thumb-active {
    fill: blue
  }
  .df,.df img {
    box-shadow: 1px 1px 8px;
    margin-bottom: 9px;
    border-radius: 15px;
    background: white;
}
</style>


   
<style>
  
  .stories .head {
    margin-bottom:20px;
  }
  .stories h4 {
    color:#4e5156;
    display: contents;
  }
  
  .stories a {
    float:right;
    font-weight:400;
    color:#1976f3;
    text-decoration:none;
  }
  .stories ul {
    margin:0;
    padding:0;
    list-style:none;
  }
  
  .stories ul li {
    float:left;
    margin-right:10px;
  }
  .stories ul li:last-child {
    margin-right:0px;
  }
  .stories .stories-card {
    width:130px;
    height:220px;
    position:relative;
    overflow:hidden;
    border-radius:10px;
    box-shadow:0 3px 6px rgba(50, 50, 93, 0.1);
  }
  .stories .stories-card .stories-img {
    width:100%;
    height:100%;
    background-size:cover;
    background-position:center;
  }
  .stories .stories-card .stories-by {
    position:absolute;
    bottom:0;
    color:#fff;
    background:linear-gradient(to bottom, transparent 0, #000000db 99%, #000000eb 100%);
    padding:13px 15px;
    font-size:18px;
    line-height:25px; 
  }
  .stories .stories-card .stories-by h5 {
    margin:0;
    font-weight:300;
  }
  .stories .stories-card .add-storie {
    position:absolute;
    top:0;
    width:32px;
    height:32px;
    text-align:center;
    line-height:32px;
    margin:15px;
    background:#0000004a;
    color:#fff;
    border:2px solid #fff;
    border-radius:50px;
    overflow:hidden;
    background-size:cover;
    background-position:center;
  }
  .stories .stories-card .add-storie .avatar {
    width:100%;
    height:100%;
    background-size:cover;
    background-position:center;
  } 
  .owl-stage-outer{
     direction: ltr;
  }
  .owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev {
      width: 35px;
      height: 35px;
      border-radius: 80px;
      background-color: rgb(255, 255, 255);
  }
  </style>
  
  
{% load mptt_tags %} 


<nav aria-label="breadcrumb ">
    
  <ol class="breadcrumb fontd shadow" itemscope itemtype="https://schema.org/BreadcrumbList">
    <li class="breadcrumb-item read-more" itemprop="itemListElement" itemscope
        itemtype="https://schema.org/ListItem">
      <a itemprop="item" href="https://www.{{ request.get_host }}">
          <span itemprop="name">🏠 الرسمية</span></a>
      <meta itemprop="position" content="1" />
    </li>

{% for i,v in post.get_slug_list_for_categories.items %}

<li class="breadcrumb-item read-more fontd" itemprop="itemListElement" itemscope  itemtype="https://schema.org/ListItem">
<a itemscope itemtype="https://schema.org/WebPage"  itemprop="item" itemid="/a/{{ i }}" href="/a/{{ i }}">
 <span itemprop="name">{{ v | get_name }}  </span></a>
<meta itemprop="position" content="{{ forloop.counter|add:'1' }}" /> </li> 
{% endfor %}

<li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem" class="breadcrumb-item read-more" aria-current="page">
  <span itemprop="name">{{ post.title }}</span>
  <meta itemprop="position" content="{{ post.get_slug_list_for_categories.items|length|add:'2' }}" />
</li>
  </ol>
</nav>  

<div class="container-fluid">
  <div class="row justify-content-center "> 
    <div class="col-md-2 fontd" >
<div class="row justify-content-center">
  
  

  {% recursetree Category %}
  <a class="nav-link read-more" href="{{node.get_url_categories}}" style="padding: 5px;"><img class="rounded-circle shadow-lg" src="{{node.image.url}}" width="33px" height="33px" /><span>{{ node.name }}</span></a> 

  {% if not node.is_leaf_node %}
  {{ children }}
  {% endif %}

  {% endrecursetree %}

</div>

    </div>
    <div class="col-md-7 fontd read-more p-0">
      
      <div class="mb-3 read-more" style="width: 100%;">
        <div class="header">
          <div class="options"><i class="fa fa-chevron-down"></i></div>
          <img class="co-logo shadowX" src="{{ post.author.profile.avatar.url }}" />
          <div class="co-name"><a href="#">{{ post.author }}</a></div>
          <div class="time"><a href="#">{{ post.publish }}</a> · <i class="fa fa-globe"></i></div>
        </div>
        <div class="col-md-12 d-flex justify-content-between">
          <h1 class="h1">{{post.title}}</h1>
        </div> 
      
        <div class="reference">
<a href="{{post.get_absolute_url}}">

  {% if not '/media/Topics/default.jpg' in post.image.url %}
  <img class="reference-thumb " src="{{ post.image.url }}" />
  {% endif %}
        </a>
          <!-- <div class="reference-content">
            <div class="reference-title">A quick and simple image placeholder service. | PLACEHOLDER.it</div>
            <div class="reference-subtitle">How does it work? Just put your image size after our URL and you'll get a placeholder.</div>
            <div class="reference-font">placeholder.it</div>
          </div> -->
        </div>
        <div class="social">
          <div class="social-content text-center"></div>
          <div class="row justify-content-center">
            <span class="read-more col-4 row">

        {% csrf_token %}



        {% if user.is_authenticated %}
        <div class="pr-2">
          <span onclick="myidL( {{post.id}} )" class=" col-4"><i class="fa fa-heart fa-lg" id="like{{post.id}}"> {{post.like_count}}</i>  </span>

        </div> 
        {% else %}
        <a href="{% url 'account_signup' %}" class="text-dark">
        <span class=" col-4"><i class="fa fa-heart fa-lg" > {{post.like_count}}</i>  </span>
          
        </a>
        {% endif %}
            </span>
            <span class="read-more col-4"><i class="fa fa-comment"> {{post.comments.all.count }}</i> تعليق </span>
            <span class="read-more col-4"><i class="fa fa-share"></i> مشاركة
            
          <a class="fab fa-facebook fa-lg" href="http://www.facebook.com/sharer.php?u={{request.build_absolute_uri}} "  onclick="window.open(this.href, 'facebookwindow','left=20,top=20,width=600,height=700,toolbar=0,resizable=1'); return false;"> </a>
          <a class="fab fa-twitter fa-lg" href="http://twitter.com/intent/tweet?text={{ post.title }} {{request.build_absolute_uri}}" onclick="window.open(this.href, 'twitterwindow','left=20,top=20,width=600,height=300,toolbar=0,resizable=1'); return false;"> </a>
          <a  class="fab fa-whatsapp fa-lg"href="whatsapp://send?text={{ post.title }} {{request.build_absolute_uri}}" data-action="share/whatsapp/share"> </a>

            </span></div>
        </div>
      </div>
<script>

function myidL(params) {
$.ajax({
type: 'POST',
url: '{% url "boards:like" %}',
data: {
postid: params,
csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
action: 'post'
},
success: function (json) {
document.getElementById("like" + params).innerHTML = ' ' + json['result'];
},
error: function (xhr, errmsg, err) {

}
});
}
</script>

    <style>
      
.header {
  margin-bottom:17px;
}

.co-logo {
  /*display:block;*/
  float:left;
  margin-right:8px;
  
  width:40px;
  height:40px;
}

.co-name > a {
  font-family: Helvetica;
  font-size:14px;
  font-weight: bold;
  line-height: 1.38;
  color: #365899;
  text-decoration:none;
  
  margin-bottom:2px;
}

.co-name > a:hover {
  text-decoration:underline;
}

.time {
  font-family: Helvetica;
  font-size:12px;
  color: #90949c;
}

.time > a {
  color: #90949c;
  text-decoration:none;
}

.time > a:hover {
  text-decoration:underline;
}

.options {
  font-family: Helvetica;
  font-size:12px;
  color: #e5e5e5;
  float:right;
}

.options:hover {
  color: black; /* Fallback */
  color: rgba(0, 0, 0, .30);
}

.content {
  clear:both;
  font-family: Helvetica, sans-serif;
  font-size:14px;
  line-height: 1.38;
}

.reference {
    width: 100%;
    height: auto;

}
.reference-thumb {
  display:block;
    width: 100%;
    height: auto;
    border-radius: 21px;
}

.reference-content {
  border: 2px solid black;
  border: 2px solid rgba(0, 0, 0, .1);
  border-top: 0;
  padding: 10px 12px 10px 12px;
}

.reference:hover .reference-content {
  border-color: black; /* Fallback */
  border-color: rgba(0, 0, 0, .15);
}

.reference-title {
  font-family: Georgia;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  
  margin-bottom:5px;
}

.reference-subtitle {
  font-family: Helvetica;
  font-size:12px;
  line-height: 16px; 
}

.reference-font {
  color: #90949c;
  font-family: Helvetica;
  font-size: 11px;
  line-height: 11px;
  text-transform: uppercase;

  padding-top:9px; 
}

.social {
  margin-top:12px;
}
.social-buttons {
  color: #7f7f7f;
  font-family: Helvetica;
  font-size: 12px;
  font-weight:bold;
  line-height:14px;
  
  border-top:1px solid #e5e5e5;
  padding-top:4px;
  
}

.social-buttons span {
  font-size: 12px;
  margin-right:20px;
  padding:4px 4px 4px 0;
}

.social-buttons span:hover {
  text-decoration:underline;
  cursor:pointer;
}

.social-buttons span i {
  padding-right:4px;
}
    </style>  

    <div class=" pt-1" style="direction: ltr;">
 
      <div id="go1" class=" row mt-6" style="font-size: 20px; direction: rtl;">
        <strong class="md:text-xl text-base mb-3" id="co"> </strong> 
      <div id="go"></div>
      </div>
      <div class="col-12 cooo">{{post.content|safe}}</div>
      <script>
        var cont=0;
var array= document.getElementsByClassName('cooo')[0].getElementsByTagName("h2");
for (let index = 0; index < array.length; index++) {
  cont++; 
   document.getElementById('go').innerHTML += '<a class=" nav-link read-more m-2" href="#go'+index+'" ><span class="badge badge-primary">'+cont+'</span>'+ array[index].innerHTML +'</a>';
   document.getElementsByTagName("h2")[index].id += 'go'+index;
}
if (document.getElementsByClassName('cooo')[0].getElementsByTagName("h2").length >0 ) {
  
document.getElementById('co').innerText = 'محتويات المقال (اختر للانتقال)'; 
document.querySelector(".cooo #h2")
}
      </script>
    </div>
    
    
     <!-- comment  -->
      
      
      {% load mptt_tags %}
      <div class="allcommments">

        {% recursetree allcomments %}
        <div id="{{ node.id }}" class="my-2 p-2 shadowX" style="border: 0px solid grey">


          <div class="d-flex justify-content-between">

            <div><img class="avatar_single mr-3" src="{{ node.author.profile.avatar.url }}"> {{ node.author }}</div>
            {{ node.publish }}


          </div>

          <div class="node-content">{{ node.content }}</div>

          <div class="d-flex flex-row-reverse">
            {% if node.level < 3 %}
            <button class="btn shadowX btn-sm" onclick="myFunction({{ node.id }})">تعليق</button>
            {% endif %}
            {% if node.author|stringformat:"s" == user.get_username  %}
            <button class="btn btn-secondary btn-sm mr-2" onclick="deleteComment({{ node.id }})">حذف</button>
            {% endif %}
          </div>
        </div>
        {% if not node.is_leaf_node %}
        <div class="children pr-2 pr-md-5">
          {{ children }}
        </div>
        {% endif %}
        {% endrecursetree %}

        <form id="commentform" class="commentform" method="POST" >
          {% csrf_token %}
          {% with allcomments.count as total_comments %}
            <!-- <p> {{ total_comments }}</p> -->
          {% endwith %} 
          <select name="Topic" class="d-none" id="id_Topic">
            <option value="{{ post.id }}" selected="{{ post.id }}"></option>
          </select>
          <label > {{comment_form.parent.label}}</label>
          {{comment_form.parent}}
          <div class="d-flex shadowX">
            <img class="avatar_comment shadowX align-serf-center" src="{% for data in avatar %} {{data.avatar.url}} {% endfor %}" style="width: 50px; height: 50px;" alt="">
            {{ comment_form.content}}
            <button value="commentform" id="newcomment" type="submit" class="btn read-more btn-lg newcomment">ارسال</button>
          </div>
        </form>

        <script>
    $(document).on("click","#newcomment , #newcommentinner",function(e) {
e.preventDefault();
var button = $(this).attr('value');
placement = 'commentform';
var imgFullURL = '{{ post.author.profile.avatar.url }}';
if (button=='newcommentform') {
placement = 'newcommentform';
}
      $.ajax({
        type: 'POST',
        url: '{% url "boards:addcomment" %}',
        data: $('#'+ button).serialize() , 
        success: function (json) {
          console.log($('#'+button).serialize());
          $(`<div id="${json['id']}" class="my-2 p-2 shadowX shadowX" style="background: #4169e180">

<div class="d-flex justify-content-between">\
  <div><img class="avatar_single mr-3" src="${imgFullURL}"> ${json['user']}</div>
</div>\
<div class="node-content">${json['result']}</div>\
<div class="d-flex flex-row-reverse">\
  <button class="btn btn-secondary btn-sm mr-2" onclick="deleteComment(${json['id']})">حذف</button>\
</div>\
</div>`).insertBefore( '#'+placement);
document.querySelector("#newf form").remove();
        },
        error: function (xhr, errmsg, err) {
          console.log($('#'+button).serialize());
        }
      });
    });       

    
    function deleteComment(params) {
      console.log(params);
      $.ajax({
        type: 'POST',
        url: '{% url "boards:addcomment" %}',
        data: {
          nodeid: params,
          csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
          action: 'delete'
        },
        success: function (json) {
          console.log( json['result'])
          $('#'+json['remove']).remove()
        },
        error: function (xhr, errmsg, err) {
  
        }
      });
    }
    
        </script>
      </div>
    <!-- endcomment   -->
    </div>
<div class="col-md-3">
  <div class="  badge badge-info" style="font-size: 22px;">مواضيع ذات علاقة</div>

<ul class="nav nav-tabs row justify-content-center" >
  
  {% for post in Category2 %}  
 <div style="width: 300px;">
  
  <img class="read-more " src="{{post.image.url}}" width="100px" height="60px">
   <a class=" w-50 mt-2 read-more" href="{{post.get_absolute_url}}" styled="padding: 0px;">
  
{% if post.title|length > 40 %}
{{post.title|slice:'35'}} ..
{% else %}
{{post.title}}
{% endif %}
  </a> 
 </div>
  {% endfor %}
</ul> 

  </div>

</div>
  </div>
</div>

<div class="container-fluid my-3"> 
  <div class="  read-more col-md-12 " style="font-size: 22px;">قد يعجبك أيضاً </div>
  <div class="row justify-content-center mt-7">
    <div class="stories"> 
       <ul class="row justify-content-center"> 
        {% for node in random_items %}
        <li>
           <a href="{{node.get_absolute_url}}">
              <div class="stories-card">
                 <div style="background-image:url({{node.image.url}})" class="stories-img"></div>
                 <div class="add-storie">
                    <div style="background-image:url({{node.image.url}})" class="avatar"></div>
                 </div>
                 <div class="stories-by">
                    <h5>{{ node.title }}</h5>
                 </div>
              </div>
           </a>
        </li>
     
        {% endfor %}
     
       </ul>
    </div>
     </div>
    </div>
<script>
  function formExit() {
    document.getElementById("newForm").remove();
  }

  function myFunction(id) {
if (document.body.contains(document.querySelector("#newf "))) {
  document.querySelector("#newf ").remove();
    }
    var postid = '{{post.id}}';
    var imgFullURL = $('img.avatar_single')[0].src;
    var d1 = document.getElementById(id);
    d1.insertAdjacentHTML('afterend',
    `
<div id="newf"> <form id="commentform" class="commentform" method="POST">
      {% csrf_token %} \
          <select name="Topic" class="d-none" id="id_Topic">
            <option value="2" selected="2"></option>
          </select>
          <label> </label>
          <select name="Topic" class="d-none" id="id_post"> \
          <option value="${ postid }" selected="' + postid + '"></option> \
        </select> <label class="small font-weight-bold"></label> \
        <select name="parent" class="d-none" id="id_parent"> \
          <option value=" ${id} " selected=" ${ id}  "></option> \
        </select> \

          <div class="d-flex">
            <img class="avatar_single align-self-center" src=" ${imgFullURL} "> \
            <textarea name="content" cols="40" rows="1" class=" mb-3 read-more rounded-0" placeholder="أضف تعليقًا " required="" id="id_content"></textarea>
            <button value="commentform" id="newcomment" type="submit" class="btn shadowX newcomment">ارسال</button>
          
            </div> 
        </form> </div>` 
    );
  }

  $(document).ready(function () {
    $('.thumbaction').click(function (e) {
      e.preventDefault();
      var postid = document.getElementById('thumbs').getAttribute('data-value');
      var button = $(this).attr("value");
      $.ajax({
        type: 'POST',
        url: '{% url "accounts:thumbs" %}',
        data: {
          postid: postid,
          csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
          action: 'thumbs',
          button: button,
        },
        success: function (json) {
          if (json.length < 1 || json == undefined) {
            //empty
          }
          document.getElementById("up").innerHTML = json['up']
          document.getElementById("down").innerHTML = json['down']
          $("svg").removeClass("thumb-active");

          if (json['remove'] == 'none') {
            $("#" + button).removeClass("thumb-active");
          } else {
            $("#" + button).addClass("thumb-active");
          }

        },
        error: function (xhr, errmsg, err) {}
      });
    });
  });

  $('#myForm').trigger("reset");

  $(document).on('click', '#like-button', function (e) {
    e.preventDefault();
    $.ajax({
      type: 'POST',
      url: '{% url "accounts:like" %}',
      data: {
        postid: $('#like-button').val(),
        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
        action: 'post'
      },
      success: function (json) {
        document.getElementById("like_count").innerHTML = json['result']
      },
      error: function (xhr, errmsg, err) {

      }
    });
  })
</script>
<!-- end body -->
</div>

{% include "base/footer.html" %}
{% endblock %}