{% extends "../base/base.html" %}
{% block title %} مقالات طبية – الدكتور {% endblock %}

{% block metaHead %}
  

  <script type="application/ld+json">
    {
    "@context": "http://schema.org",
    "@type": "Organization",
    "url": "https://www.webteb.com/",
    "name": "ويب طب",
    "alternateName": "WebTeb",
    "sameAs": [
    "https://www.facebook.com/Eldoctooor",
    "https://www.youtube.com/channel/UC4of8xqL-SpDvTdOrRzS4sw/",
    "https://www.youtube.com/channel/UCw-BsooDwtOWVWorGzm1QWQ"
    ],
    "logo": "/media/posts/default.jpg"
    }
</script>
  <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "WebPage",
        "name": "مقالات طبية – الدكتور",
        "description": "أكبر منصة طبية على الإنترنت العربي تحارب انتشار المعلومات المضللة والعلم الزائف وتنشر أحدث المعلومات الطبية بطريقة مبسطة"
    }
</script>

<script type="application/ld+json">
  {
      "@context": "http://schema.org",
      "@type": "Website",
      "url": "https://www.webteb.com/",
      "potentialAction": {
          "@type": "SearchAction",
          "target": "{{request.build_absolute_uri}}/search?q={search_term_string}",
          "query-input": "required name=search_term_string"
      }
  }
  </script>
<meta property="og:url" content="{{request.build_absolute_uri}}">
<meta property="og:image" content="{{post.image.url}}" id="im">
<meta property="og:title" content=" مقالات طبية – الدكتور ">
<meta property="og:description" content="أكبر منصة طبية على الإنترنت العربي تحارب انتشار المعلومات المضللة والعلم الزائف وتنشر أحدث المعلومات الطبية بطريقة مبسطة">
<script>
document.getElementById('im').setAttribute("content", window.location.origin +'/media/posts/default.jpg'); 
</script>

{% endblock metaHead %}
  

{% block content %}
{% include "base/nav-main.html" %}

<div class="container-fluid">
  
    <div class="row">
        <div class="col-md-2"> 2 </div>
        <div class="col-md-7">


          

          <div id="newpost"></div> 
          
{% if user.is_authenticated %}
<form  enctype="multipart/form-data" id="id_ajax_upload_form" method="POST" novalidate="">
  {% csrf_token %}
      <div class="d-flex col-12">
        <img class="avatar_single align-self-center" src="{% for data in avatar %} {{ data.avatar.url }} {% endfor %}"> 
        <input type="text" class="col-10 mb-2 read-more " name="title" maxlength="250" placeholder="أضف سؤال " required="" id="id_title">
        <div class="read-more"><div id="i" class="fa fa-image shadowX" style="font-size: 40px;"></div> <span class="shadow-lg ">صور</span></div>
      </div>
      <div class="shadow-lg col-12">
        <!-- <textarea name="content" cols="40"  class="ml-3 col-10 read-more rounded-0" placeholder="أضف تفصل سؤال " required="" id="id_content"></textarea> -->
        {{topic_form.media}}
        {{topic_form.content}}
      </div>
      <input type="file" name="image" onchange="upload_img(this);" accept="image/*" id="id_image" class="d-none">  
      <img id="img_id" src="#" width="100%" class="read-more" style="font-size: 40px; display: none; " />

      <button value="commentform" id="newcomment" type="submit" class="btn  shadowX btn-lg col-12 mb-3 ">نشر</button>
</form>


{% else %}
<a href="{% url 'account_signup' %}" class="text-dark">
<span class=" col-4"><i class="fa fa-plug fa-5x fontd shadow-lg mb-3" > اضف سؤال</i>  </span>

</a>
{% endif %}



<script type="text/javascript">
// form upload
$('#id_ajax_upload_form').submit(function(e){
    e.preventDefault();
    $form = $(this)
    var formData = new FormData(this);
    $.ajax({
        url: '{% url "boards:addTopic" %}',
        type: 'POST',
        data: formData,
        success: function (response) {
            $('.error').remove();
            console.log(response)
            if(response.error){
                $.each(response.errors, function(name, error){
                    error = '<small class="text-muted error">' + error + '</small>'
                    $form.find('[name=' + name + ']').after(error);
                })
            }
            else{
              document.getElementById('newpost').innerHTML=`
<div class="mb-3 read-more">
        <div class="header">
          <div class="options"><i class="fa fa-chevron-down"></i></div>
          <img class="co-logo" src="/media/users/avatar.png">
          <div class="co-name"><a href="#">${response['user']}</a></div>
          <div class="time"> <i class="fa fa-globe"></i></div>
        </div>
        <div class="content"> ${response['result']}  </div>
        <div class="reference">
<a href="ask/${response['url']}">
<img class="reference-thumb " src="${response['image']} ">
        </a> 
        </div>
        </div> </div>`;
                window.location = "#newpost";
                document.getElementById('id_ajax_upload_form').innerHTML = ' ';
            }
        },
        cache: false,
        contentType: false,
        processData: false
    });
});
// end
</script>


          <script type="text/javascript">
          document.getElementById('i').onclick = function name(params) {
          document.getElementById('id_image').click();
      }
      
            function upload_img(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
      
                    reader.onload = function (e) {
                        $('#img_id').attr('src', e.target.result);
                        document.getElementById('img_id').style.display ='block';
                    }
      
                    reader.readAsDataURL(input.files[0]);
                }
            }
      
        </script>
            <div class="row infinite-container">
                {% for e in edd %}

                    <div class="mb-3 read-more infinite-item" style="width: 100%;">
                      {% if e.author.profile.slug == request.user.profile.slug %}
                      <a href="/forum/{{e.id}}/update" class="read-more">تحدث</a>
                      <a href="/forum/{{e.id}}/delete" class="read-more">حذف</a>
                      {% endif %}
                      <div class="header">
                        <div class="options"><i class="fa fa-chevron-down"></i></div>
                        <img class="co-logo shadowX" src="{{ e.author.profile.avatar.url }}" />
                        <div class="co-name"><a href="#">{{ e.author }}</a></div>
                        <div class="time"><a href="#">{{ e.publish }}</a> · <i class="fa fa-globe"></i></div>
                      </div>
                      <div class="content text-center">
                        <a class="fontd" href="{{e.get_absolute_url}}"><p>{{ e.title }} ...</p></a>
                      </div>
                    
                      <div class="reference">
            <a href="{{e.get_absolute_url}}">

              {% if not '/media/Topics/default.jpg' in e.image.url %}
              <img class="reference-thumb " src="{{ e.image.url }}" />
              {% endif %}
                      </a>
                      </div>
                      <div class="social">
                        <div class="social-content text-center"></div>
                        <div class="row justify-content-center">

<span class="read-more col-4 row"> 
{% if user.is_authenticated %}
<div class="pr-2">
<span onclick="myidL( {{e.id}} )" class=" col-4"><i class="fa fa-heart fa-lg" id="like{{e.id}}"> {{e.like_count}}</i>  </span>
</div> 
{% else %}
<a href="{% url 'account_signup' %}" class="text-dark">
<span class=" col-4"><i class="fa fa-heart fa-lg" > {{e.like_count}}</i>  </span>

</a>
{% endif %}
</span>                          <span class="read-more col-4"><i class="fa fa-comment"> {{e.comments.all.count }}</i> تعليق </span>
<span class="read-more col-4"><i class="fa fa-share"></i> مشاركة

<a class="fab fa-facebook fa-lg" href="http://www.facebook.com/sharer.php?u=https://{{request.get_host }}{% url 'boards:topic_single' e.slug %}"  onclick="window.open(this.href, 'facebookwindow','left=20,top=20,width=600,height=700,toolbar=0,resizable=1'); return false;"> </a>
<a class="fab fa-twitter fa-lg" href="http://twitter.com/intent/tweet?text={{ e.title }} https://{{request.get_host }}{% url 'boards:topic_single' e.slug %}" onclick="window.open(this.href, 'twitterwindow','left=20,top=20,width=600,height=300,toolbar=0,resizable=1'); return false;"> </a>
<a  class="fab fa-whatsapp fa-lg"href="whatsapp://send?text={{ e.title }} https://{{request.get_host }}{% url 'boards:topic_single' e.slug %}" data-action="share/whatsapp/share"> </a>

</span></div>
</div>
</div>
                    
                    

                {% endfor %}
                
      {% if edd.has_next %}
      <a class="read-more infinite-more-link" href="?page={{ edd.next_page_number }}"> </a>
  {% endif %}
  <div class="d-flex position-fixed loading " style="top: 35vh; left: 46vw; ">
    
  <div class="spinner-border text-primary loading" role="status">
    <span class="sr-only">Loading...</span>
  </div>

  </div>
  
<script>

function myidL(params) {
$.ajax({
type: 'POST',
url: '{% url "boards:like" %}',
data: {
postid: params,
csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
action: 'post'
},
success: function (json) {
document.getElementById("like" + params).innerHTML = ' ' + json['result'];
},
error: function (xhr, errmsg, err) {

}
});
}
</script>
            </div>
        </div>
        <div class="col-md-3">
          {% load post_tag %}
  
          {% latest_posts1 %}
        </div>
    </div>
  </div>
<style>
  
.header {
  margin-bottom:17px;
}

.co-logo {
  /*display:block;*/
  float:left;
  margin-right:8px;
  
  width:40px;
  height:40px;
}

.co-name > a {
  font-family: Helvetica;
  font-size:14px;
  font-weight: bold;
  line-height: 1.38;
  color: #365899;
  text-decoration:none;
  
  margin-bottom:2px;
}

.co-name > a:hover {
  text-decoration:underline;
}

.time {
  font-family: Helvetica;
  font-size:12px;
  color: #90949c;
}

.time > a {
  color: #90949c;
  text-decoration:none;
}

.time > a:hover {
  text-decoration:underline;
}

.options {
  font-family: Helvetica;
  font-size:12px;
  color: #e5e5e5;
  float:right;
}

.options:hover {
  color: black; /* Fallback */
  color: rgba(0, 0, 0, .30);
}

.content {
  clear:both;
  font-family: Helvetica, sans-serif;
  font-size:14px;
  line-height: 1.38;
}

.reference {
    width: 100%;
    height: auto;

}
.reference-thumb {
  display:block;
    width: 100%;
    height: auto;
    border-radius: 21px;
}

.reference-content {
  border: 2px solid black;
  border: 2px solid rgba(0, 0, 0, .1);
  border-top: 0;
  padding: 10px 12px 10px 12px;
}

.reference:hover .reference-content {
  border-color: black; /* Fallback */
  border-color: rgba(0, 0, 0, .15);
}

.reference-title {
  font-family: Georgia;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  
  margin-bottom:5px;
}

.reference-subtitle {
  font-family: Helvetica;
  font-size:12px;
  line-height: 16px; 
}

.reference-font {
  color: #90949c;
  font-family: Helvetica;
  font-size: 11px;
  line-height: 11px;
  text-transform: uppercase;

  padding-top:9px; 
}

.social {
  margin-top:12px;
}
.social-buttons {
  color: #7f7f7f;
  font-family: Helvetica;
  font-size: 12px;
  font-weight:bold;
  line-height:14px;
  
  border-top:1px solid #e5e5e5;
  padding-top:4px;
  
}

.social-buttons span {
  font-size: 12px;
  margin-right:20px;
  padding:4px 4px 4px 0;
}

.social-buttons span:hover {
  text-decoration:underline;
  cursor:pointer;
}

.social-buttons span i {
  padding-right:4px;
}

.summernote-div {
    width: 100%;
    box-shadow: 0 7px 11px -3px rgb(45 35 66 / 20%), 0 2px 4px 0 rgb(45 35 66 / 40%), inset 0 -3px 0 0 #cfd1e3, 0px 10px 20px -10px #1376c5;
    border-radius: 25px;
}

.note-editor.note-frame.card {
    border: 0;
}
</style>

  <!--end of Pagination-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js" integrity="sha512-CEiA+78TpP9KAIPzqBvxUv8hy41jyI3f2uHi7DGp/Y/Ka973qgSdybNegWFciqh6GrN2UePx2KkflnQUbUhNIA==" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/shortcuts/infinite.min.js" integrity="sha512-m3kH21aSkKrGeoqdb7IP7rlu1VcQee5VrjLQepeSOp5M05Wl6HwqJ1Jwo14EHOuBg77pkAlBtQuVMPVeXzfueg==" crossorigin="anonymous"></script>
  <script>
var infinite = new Waypoint.Infinite({
  element: $('.infinite-container')[0],
  offset:'bottom-in-view',
  onBeforePageLoad:function ( ) {
    $('.loading').show();
  },
  onAfterPageLoad:function ( ) {
    $('.loading').hide();
  }

})
  </script>

{% include "base/footer.html" %}
{% endblock %}